
@{
    ViewBag.Title = "AdminPage";
}

<h2>@ViewBag.Title.</h2>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Generate Report</div>
            <div class="panel-body" id="admin">
                <div class="btn btn-default">Type 1</div>
                <div class="btn btn-default">Type 2</div>
                <div class="btn btn-default">Type 3</div>
                <div class="btn btn-default">Type 4</div>
                <div class="btn btn-default">Type 5</div>
                <div class="btn btn-default">Type 6</div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Create New Admin Account</div>
            <div class="panel-body" id="admin">
                <div class="col-xs-3">First</div>
                <div class="col-xs-9">
                    <input type="text" />
                </div>
                <div class="col-xs-3">Last</div>
                <div class="col-xs-9">
                    <input type="text" />
                </div>
                <div class="col-xs-3">Password</div>
                <div class="col-xs-9">
                    <input type="text" />
                </div>
                <div class="col-xs-3">Confirm Password</div>
                <div class="col-xs-9">
                    <input type="text" />
                </div>
                <div class="col-xs-3">Phone #</div>
                <div class="col-xs-9">
                    <input type="text" />
                </div>
                <div class="btn btn-default">Create</div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Unblock Accounts</div>
            <div class="panel-body" id="createForm">
                <table class="table" id="messages">
                    <tr>
                        <th>Username</th>
                        <th># Lockouts</th>
                        <th>Unblock</th>
                    </tr>
                    <tr>
                        <td>agbues442</td>
                        <th>216</th>
                        <td>
                            <div class="btn btn-success">&#10003;</div>
                        </td>
                    </tr>
                    <tr>
                        <td>alsdsa251</td>
                        <th>1</th>
                        <td>
                            <div class="btn btn-success">&#10003;</div>
                        </td>
                    </tr>
                    <tr>
                        <td>kljwsa888</td>
                        <th>2</th>
                        <td>
                            <div class="btn btn-success">&#10003;</div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>